.App {
  background-color: #202b38;
  min-height: 100vh;
  color: #fff;
  padding: 8px 0;
}

.App-logo {
  height: 128px;
  width: 128px;
}

.Container {
  margin: 0 auto;
  max-width: 800px;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}